input,
textarea,
select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: $primary-color;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
     &::placeholder{
        color: #fff;
     }
     &::-webkit-input-placeholder{
        color: #fff;

     }
     &::-moz-placeholder{
        color: #fff;

     }
     &:-moz-placeholder{
        color: #fff;

     }
     &:-ms-placeholder{
        color: #fff;

     }
     &.error{
        border-bottom: 1px solid #f00;
     }
}

textarea{
    height: 100px;
}